@charset "UTF-8";
 @import url(../fonts/stylesheet.css);
/*General*/
table.apg-table, .cabecera {
	clear: none;
	width: 79%;
	max-width: 582px;
}
.imagen {
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	max-width: 100%;
	display: block;
}
.imagen:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.estrellas div {
	display: inline!important;
}
.estrellas div:hover {
	color: #2ea2cc;
}
.estrellas .star-rating .star {
	font-size: 18px;
}
div.donacion .genericon, div.donacion .estrellas .star-rating .star, div.donacion .artprojectgroup,  {
	width: 15px;
	height: 15px;
	font-size: 15px;
}
div.donacion {
	background-color: #FFFFFF;
	float: right;
	padding: 10px;
	width: 15%;
	max-width: 220px;
	text-align: center;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
div.donacion div.fila {
	padding: 10px 10px 0px;
	margin: 10px auto 0px;
	max-width: 190px;
}
div.donacion div.fila, div.donacion div.columna:nth-child(2n) {
	border-top: 1px solid #7AD03A;
}
div.donacion div.fila:first-child {
	border: none;
	margin-top: 0px;
}
div.donacion div.columna.final {
	display: none;
}
div.donacion div.fila.final {
	padding: 10px;
	margin: 0px auto 10px;
}
div.donacion a {
	text-decoration: none;
}

@media screen and (max-width: 582px) {
table.apg-table, .cabecera {
	clear: none;
	width: 100%;
}
div.donacion {
	display: table;
	float: none;
	margin-bottom: 10px;
	max-width: 100%;
	width: 96%;
}
div.donacion div.fila {
	display: table-row;
	width: 100%;
	border-top: 1px solid #7AD03A;
}
div.donacion div.fila:first-child {
	border: none;
}
div.donacion div.columna {
	display: table-cell;
	width: 50%;
	padding: 10px;
}
div.donacion div.fila, div.donacion div.columna, div.donacion div.columna:first-child {
	border-top: 1px solid #7AD03A;
}
div.donacion div.fila:first-child, div.donacion div.fila:first-child div.columna {
	border: none;
	margin-top: 0px;
}
}
